<form action='/<%= @filename %>/edit' method='post'>
  <dl>
    <dt>
      <label>Edit content of <%= @filename %></label>
    </dt>
    <dd>
      <textarea name='file_content' type='text' cols="80" rows="16" maxlength="800"><%= @file_content %></textarea>
    </dd>
  </dl>
  <fieldset class='actions'>
    <input type='submit' value='Save changes'>
    <a href='/'>Cancel</a>
  </fieldset>
</form>
