<ul id="files">
  <% @revisions.each do |rev_num| %>
    <li>
      <a class="revisions" href='/<%= @filename %>/revisions/<%= rev_num %>'>Revision <%= rev_num %></a>     
    </li>
  <% end %>
</ul>
