<form action='/files/upload' method='post' enctype='multipart/form-data'>
  <input type="file" id="files" name="files[]" multiple />
  <output id="thumbnails"></output>
  <button type='submit'>Upload</button>
</form>