<form action='/files/upload' method='post' enctype='multipart/form-data'>
  <input type="file" id="files" name="files[]" multiple />
  <output id="thumbnails"></output>
  <button type='submit'>Upload</button>
</form>

<% content_for :header_links do %>
  <a class='documents' href='/'>All Documents</a>
  <a class='add' href='/new'>New Document</a>
  <% if session[:username] %>
    <span>Signed in as <%= session[:username] %></span>
    <form action='/users/signout' method='post' class='signout'>
      <button type='submit'>Sign Out</button>
    </form> 
  <% else %>
    <a class='signin' href='/users/signin'>Sign In</a>
    <a class='signup' href='/users/signup'>Sign Up</a>
  <% end %>
<% end %>